@model IEnumerable<MarkdownUserStories.Models.UserStory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddStory">Add Story</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sequence)
            </th>
            <th>
                Value
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sequence)
            </td>
            <td>
                As a @item.Role, @item.Want
            </td>
            <td>
                @Html.ActionLink("Edit", "EditStory", new {id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteStory", new {id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
