@model IEnumerable<MarkdownUserStories.Models.UserStory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddStory">Add Story</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sequence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estimate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Want)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Why)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discussion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcceptanceCriteria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sequence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estimate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Want)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Why)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discussion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcceptanceCriteria)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditStory", new {id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteStory", new {id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
